<div class="nav-container">

  <ng-container *ngFor="let order of config.navItems.order">
    <ng-container [ngSwitch]="order">
      <ng-container *ngSwitchCase="'dropdown'" [ngTemplateOutlet]="template1"></ng-container>
      <ng-container *ngSwitchDefault [ngTemplateOutlet]="defaultTemplate"></ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let value of dropdownValues">
    <app-dropdown [dropDownValues]="value" (clickedRouteValue)="changeTheRoute($event)"></app-dropdown>
  </ng-container>
  <app-search-bar></app-search-bar>
  <app-profile-dropdown [profileConfig]="config.navItems.profile"></app-profile-dropdown>
</div>

<router-outlet></router-outlet>
